.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}
.imgCard{
    filter: grayscale(100%);
    @media only screen and (max-width: 768px){
        filter: grayscale(0%);}
}
.imgCard:hover{
    filter: grayscale(0%);
    transition: 0.3s;
}

.menuProductos{
font-size: 25px;
@media only screen and (max-width: 900px){
    font-size: 16px;}
    @media only screen and (max-width: 320px){
        font-size: 14px;}

}
