* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../assets/img/hex.png);
  font-family: Arial, Helvetica, sans-serif; }
  body .Cidia {
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 30px;
    font-weight: 700;
    color: #9dd53a;
    text-shadow: 1px 1px 1px #2a4104, 1px 2px 1px #2a4104, 1px 3px 1px #2a4104, 1px 4px 1px #2a4104, 1px 5px 1px #2a4104, 1px 6px 1px #2a4104, 1px 7px 1px #2a4104, 1px 8px 1px #2a4104, 1px 9px 1px #2a4104, 1px 10px 1px #2a4104, 1px 11px 1px #2a4104, 1px 12px 1px #2a4104, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4); }
    @media only screen and (max-width: 576px) {
      body .Cidia {
        text-align: center;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 4em;
        font-weight: 700;
        color: #9dd53a;
        text-shadow: 1px 1px 1px #2a4104, 1px 2px 1px #2a4104, 1px 3px 1px #2a4104, 1px 4px 1px #2a4104, 1px 5px 1px #2a4104, 1px 6px 1px #2a4104, 1px 7px 1px #2a4104, 1px 8px 1px #2a4104, 1px 9px 1px #2a4104, 1px 10px 1px #2a4104, 1px 11px 1px #2a4104, 1px 12px 1px #2a4104, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4); } }
  body .compu {
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    margin-top: -7px;
    font-size: 10px;
    font-weight: 700;
    color: #9dd53a;
    text-shadow: 1px 1px 1px #2a4104, 1px 2px 1px #2a4104, 1px 3px 1px #2a4104, 1px 4px 1px #2a4104, 1px 5px 1px #2a4104, 1px 6px 1px #2a4104, 1px 7px 1px #2a4104, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4); }
    @media only screen and (max-width: 576px) {
      body .compu {
        text-align: center;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 20px;
        font-weight: 700;
        color: #9dd53a;
        text-shadow: 1px 1px 1px #2a4104, 1px 2px 1px #2a4104, 1px 3px 1px #2a4104, 1px 4px 1px #2a4104, 1px 5px 1px #2a4104, 1px 6px 1px #2a4104, 1px 7px 1px #2a4104, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4); } }
  body .publicidad {
    margin-top: 20px;
    margin-bottom: 75px; }
  body .titulo {
    margin-bottom: 80px; }
  body .contenedor-index {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "contenedor-index__info contenedor-index__info"  "contenedor-index__productos contenedor-index__servicios";
    grid-gap: 10px; }
    @media only screen and (max-width: 576px) {
      body .contenedor-index {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, fr);
        grid-template-areas: "contenedor-index__info" "contenedor-index__productos" "contenedor-index__servicios"; } }
    body .contenedor-index .contenedor-index__info {
      grid-area: contenedor-index__info;
      background-color: #9dd53a;
      text-align: center;
      border-radius: 3px; }
    body .contenedor-index .caja {
      background-color: #9dd53a;
      border-radius: 5px;
      padding: 1rem; }
      body .contenedor-index .caja .contenedor-index__productos {
        grid-area: contenedor-index__productos; }
      body .contenedor-index .caja .contenedor-index__servicios {
        grid-area: contenedor-index__servicios; }
  body footer {
    margin-top: 150px; }
    @media only screen and (max-width: 576px) {
      body footer {
        text-size-adjust: 15%;
        margin-top: 100px; } }
